@scope (.blog-layout__content) to (.blog-reset) {
  :scope {
    --hover-transition: 50ms;
  }

  .blog-post-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    @media (max-width: 32rem) {
      flex-direction: column-reverse;
      align-items: start;
      gap: 1.75rem;
    }

    border: 0.7px solid var(--color-border);
    text-decoration: none;

    /* Override default link hover color change */
    &:hover {
      color: inherit;
    }

    padding: 1.25rem;

    box-shadow: var(--shadow-sm);
    background: light-dark(
      var(--color-bg),
      color-mix(in oklch, var(--color-surface) 50%, var(--color-bg))
    );

    border-radius: 1.5rem;
    @supports (corner-shape: squircle) {
      corner-shape: squircle;
      border-radius: 2.5rem;
    }

    transition: all var(--hover-transition);
    &:hover {
      box-shadow: var(--shadow-md);
      transform: translateY(-2px);
      background: var(--color-surface);
    }

    .blog-post-card__title {
      font-size: 1.05rem;
      font-weight: 600;
      margin: 0 0 0.25rem;
      text-wrap: pretty;
      max-width: fit-content;
    }

    .blog-post-card__meta {
      font-size: 0.9rem;
      color: var(--color-soft);
      max-width: fit-content;

      transition: color var(--hover-transition);

      display: flex;
      align-items: center;

      & > *:not(:first-child)::before {
        content: '·';
        margin: 0 0.5rem;
      }

      time {
        font-style: italic;
      }
    }

    .blog-post-card__thumb {
      --max-width: 8rem;
      @media (max-width: 32rem) {
        --max-width: none;
      }

      .blog-post-card:has(.blog-post__tag) & {
        --max-width: 12rem;
        @media (max-width: 32rem) {
          --max-width: none;
        }
      }

      width: auto;
      max-width: var(--max-width);

      max-height: fit-content;
      overflow: hidden;
      margin: -0.75rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;

        border-radius: 0.75rem;
        @supports (corner-shape: squircle) {
          corner-shape: squircle;
          border-radius: 1.5rem;
        }
      }
    }
  }
}

