@scope (.blog-post-list) to (.blog-reset) {
  :scope {
    --hover-transition: 60ms;
    --item-vertical-padding: 0.5rem;
    --item-horizontal-padding: 0.75rem;

    position: relative;
    list-style: none;
    padding: 0;
    margin: 1.5rem calc(var(--item-horizontal-padding) * -1) 0;
    isolation: isolate;
  }

  :scope::before {
    content: '';
    display: inline-block;
    position: absolute;
    z-index: 0;
    pointer-events: none;

    background: light-dark(var(--color-surface-alt), var(--color-surface));

    border-radius: 0.5rem;
    @supports (corner-shape: squircle) {
      corner-shape: squircle;
      border-radius: 1rem;
    }

    transition: inset calc(var(--hover-transition) * 2) var(--gentler-spring), opacity var(--hover-transition);
    will-change: inset, opacity;

    transform-origin: center;

    position-anchor: --hovered-item;
    inset: anchor(inside);
  }

  .blog-list-item {
    margin: 0;
    transition: opacity var(--hover-transition);
    border-radius: 0.5rem;

    @supports (corner-shape: squircle) {
      corner-shape: squircle;
      border-radius: 1rem;
    }

    a {
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      padding: var(--item-vertical-padding) var(--item-horizontal-padding);

      /* Override default link styles */
      text-decoration: none;
      &:hover {
        color: inherit;
      }
    }

    /* Stack on top of hover highlight */
    position: relative;
    z-index: 1;

    /* Apply anchor-name on hover to make highlight element follow cursor */
    &:hover {
      anchor-name: --hovered-item;
    }

    .blog-post-list:has(&:hover) &:not(:hover) {
      opacity: 20%;
    }

    /* Pseudo-element border below each item except the last */
    &:not(:last-child)::after {
      content: '';
      display: block;
      height: var(--hairline);
      width: calc(100% - var(--item-horizontal-padding) * 2);
      margin-inline: auto;
      background: var(--color-border-light);
      transition: opacity var(--hover-transition);
    }

    /* Hide pseudo-element borders on hover */
    &:hover::after,
    &:has(+ &:hover)::after {
      opacity: 0;
    }

    .blog-list-item__title {
      font-size: 1.05rem;
      font-weight: 600;
      text-wrap: pretty;
    }

    .blog-list-item__date {
      font-variant-numeric: tabular-nums;
      font-size: 0.85rem;
      color: var(--color-faint);
      white-space: nowrap;
      margin-top: 0.2em;
    }
  }
}
