@scope (.blog) to (.blog-reset) {
  :scope {
    --hover-transition: 100ms;
  }

  .blog-post-list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 1.5rem -0.75rem 0;
    isolation: isolate;
  }

  .blog-post-highlight {
    position: absolute;
    z-index: 0;
    pointer-events: none;

    background: light-dark(var(--color-surface-alt), var(--color-surface));

    border-radius: 0.5rem;
    @supports (corner-shape: squircle) {
      corner-shape: squircle;
      border-radius: 1rem;
    }

    transition: top var(--hover-transition) ease;

    top: anchor(--hovered-item top);
    left: anchor(--hovered-item left);
    width: anchor-size(--hovered-item width);
    height: anchor-size(--hovered-item height);
  }

  .blog-post-item {
    margin: 0;
    transition: opacity var(--hover-transition);
    border-radius: 0.5rem;

    @supports (corner-shape: squircle) {
      corner-shape: squircle;
      border-radius: 1rem;
    }

    a {
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      padding: 0.5rem 0.75rem;

      /* Override default link styles */
      text-decoration: none;
    }

    /* Override default link hover color change */
    a:hover {
      color: inherit;
    }

    /* Stack on top of hover highlight */
    position: relative;
    z-index: 1;

    /* Apply anchor-name on hover to make highlight element follow cursor */
    &:hover {
      anchor-name: --hovered-item;
    }

    .blog-post-list:has(&:hover) &:not(:hover) {
      opacity: 25%;
    }

    &:not(:last-child)::after {
      content: '';
      display: block;
      height: 0.5px;
      width: 98%;
      margin-inline: auto;
      background: var(--color-border-light);
      transition: opacity var(--hover-transition);
    }

    &:hover::after,
    &:has(+ &:hover)::after {
      opacity: 0;
    }

    .blog-post-item__title {
      font-size: 1.05rem;
      font-weight: 600;
      text-wrap: pretty;
    }

    .blog-post-item__date {
      font-variant-numeric: tabular-nums;
      font-size: 0.85rem;
      color: var(--color-faint);
      white-space: nowrap;
      margin-top: 0.2rem;
    }
  }

  .blog-post-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    @media (max-width: 32rem) {
      flex-direction: column-reverse;
      align-items: start;
      gap: 1.75rem;
    }

    border: 0.7px solid var(--color-border);
    text-decoration: none;

    /* Override default link hover color change */
    &:hover {
      color: inherit;
    }

    padding: 1.25rem;

    box-shadow: var(--shadow-sm);
    background: light-dark(
      var(--color-bg),
      color-mix(in oklch, var(--color-surface) 50%, var(--color-bg))
    );

    border-radius: 1.5rem;
    @supports (corner-shape: squircle) {
      corner-shape: squircle;
      border-radius: 2.5rem;
    }

    transition: all var(--hover-transition);
    &:hover {
      box-shadow: var(--shadow-md);
      transform: translateY(-2px);
      background: var(--color-surface);
    }

    .blog-post-card__title {
      font-size: 1.05rem;
      font-weight: 600;
      margin: 0 0 0.25rem;
      text-wrap: pretty;
      max-width: fit-content;
    }

    .blog-post-card__meta {
      font-size: 0.9rem;
      color: var(--color-soft);
      max-width: fit-content;

      transition: color var(--hover-transition);

      display: flex;
      align-items: center;

      & > *:not(:first-child)::before {
        content: '·';
        margin: 0 0.5rem;
      }

      time {
        font-style: italic;
      }
    }

    .blog-post-card__thumb {
      --max-width: 8rem;
      @media (max-width: 32rem) {
        --max-width: none;
      }

      .blog-post-card:has(.blog-post__tag) & {
        --max-width: 12rem;
        @media (max-width: 32rem) {
          --max-width: none;
        }
      }

      width: auto;
      max-width: var(--max-width);

      max-height: fit-content;
      overflow: hidden;
      margin: -0.75rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;

        border-radius: 0.75rem;
        @supports (corner-shape: squircle) {
          corner-shape: squircle;
          border-radius: 1.5rem;
        }
      }
    }
  }
}

