<div class="blog-layout__actions-wrapper">
  <div class="blog-layout__actions">
    <a href="#top" class="blog-back-to-top group/arrow-up">
      Return to Top
      <span data-icon="arrow-up" class="size-5"></span>
    </a>

    <button type="button" class="blog-copy-link group/clipboard">
      <div class="blog-copy-link__icon-container">
        <span data-icon="clipboard" class="blog-copy-link__icon size-5"></span>
        <span
          data-icon="check"
          class="blog-copy-link__icon blog-copy-link__icon--hidden size-5"
        ></span>
      </div>
      <span class="blog-copy-link__text-container">
        <span class="blog-copy-link__text-default">Copy Link</span>
        <span class="blog-copy-link__text-success" aria-hidden="true">Copied!</span>
      </span>
    </button>
  </div>
</div>
