<div class="blog-actions-wrapper">
  <div class="blog-actions">
    <a href="#top" class="btn blog-back-to-top group/arrow-up">
      <span>Back to Top</span>
      <i data-icon="arrow-up"></i>
    </a>

    <button type="button" class="btn blog-copy-link group/clipboard">
      <div class="stacked-icons-container">
        <i data-icon="clipboard" class="stacked-icon"></i>
        <i data-icon="check" class="stacked-icon stacked-icon--hidden"></i>
      </div>
      <span class="stacked-text-container" aria-live="polite">
        <span class="stacked-text" data-copy-link-text="default">Copy Link</span>
        <span class="stacked-text stacked-text--hidden-below" data-copy-link-text="success" aria-hidden="true">Copied!</span>
      </span>
    </button>
  </div>
</div>
