<div class="blog-actions-wrapper">
  <div class="blog-actions">
    <a href="#top" class="blog-back-to-top group/arrow-up">
      Back to Top
      <i data-icon="arrow-up" class="size-5"></i>
    </a>

    <button type="button" class="blog-copy-link group/clipboard">
      <div class="blog-copy-link__icon-container">
        <i data-icon="clipboard" class="blog-copy-link__icon size-5"></i>
        <i data-icon="check" class="blog-copy-link__icon blog-copy-link__icon--hidden size-5"></i>
      </div>
      <span class="blog-copy-link__text-container" aria-live="polite">
        <span class="blog-copy-link__text-default" data-copy-link-text="default">Copy Link</span>
        <span class="blog-copy-link__text-success" data-copy-link-text="success" aria-hidden="true">Copied!</span>
      </span>
    </button>
  </div>
</div>
