<a class="blog-card" href="{{href}}">
  <div class="blog-card__thumb">
    <img src="{{image}}" alt="{{alt}}" />
  </div>

  <div class="blog-card__body">
    <div class="blog-card__content">
      <div class="blog-card__title">{{title}}</div>

      <div class="blog-card__meta">
        <time datetime="{{datetime}}" class="blog-card__date">{{displayDate}}</time>
        <span class="blog-card__reading-time">{{readingTime}}</span>
      </div>

      <div class="blog-post__tags">{{tags}}</div>
    </div>

    <div class="blog-card__arrow" aria-hidden="true">
      <i data-icon="arrow-right"></i>
    </div>
  </div>
</a>
