<a class="blog-post-card" href="{{href}}">
  <div class="blog-post-card__body">
    <div style="view-transition-name: {{slug}}-title;" class="blog-post-card__title">{{title}}</div>
    <div style="view-transition-name: {{slug}}-meta;" class="blog-post-card__meta">
      <time datetime="{{datetime}}" class="blog-post-card__date">{{displayDate}}</time>
      <span class="blog-post-card__reading-time">{{readingTime}}</span>
    </div>
    <div class="blog-post-card__tags">{{tags}}</div>
  </div>
  <div class="blog-post-card__thumb">
    <img src="{{image}}" alt="{{alt}}" />
  </div>
</a>
