<footer
  class="flex w-full max-w-(--max-width) gap-2 py-4 pb-20 not-hover:not-focus-within:opacity-50 transition-opacity duration-100 ease-out max-sm:flex-col max-sm:justify-between max-sm:px-(--horizontal-padding) sm:mx-auto sm:items-center sm:justify-center sm:gap-8"
>
  <div class="relative flex items-center gap-1.5 text-sm whitespace-nowrap">
    <span>&copy;</span>
    <span id="footer-year"></span>
    <span>Braden Roth</span>
  </div>

  <span class="h-3 w-0 border-l-hairline border-faint max-sm:hidden"></span>

  <!-- Social Links -->
  <div
    class="blurry-link-list flex-wrap text-sm font-medium [--link-spacing:--spacing(4)]"
  >
    <a href="mailto:me@bradenroth.com" class="mail-link">Email</a>
    <a
      href="https://github.com/bradenr402"
      target="_blank"
      rel="noopener noreferrer"
      class="github-link"
      >GitHub</a
    >
    <a
      href="https://linkedin.com/in/braden-roth"
      target="_blank"
      rel="noopener noreferrer"
      class="linkedin-link"
      >LinkedIn</a
    >
    <a href="https://x.com/BradenRoth02" target="_blank" rel="noopener noreferrer" class="x-link"
      >X</a
    >
  </div>
</footer>
