<footer
  class="mt-2 flex flex-col items-center justify-center gap-5 bg-stone-100 pt-7 dark:bg-zinc-850"
>
  <div
    class="flex items-center justify-center font-semibold *:px-3 *:py-1.5 in-data-[page=home]:hidden"
  >
    <a
      href="mailto:me@bradenroth.com"
      target="_blank"
      class="group relative flex items-center justify-center"
      aria-label="Email me@bradenroth.com"
    >
      <span data-icon="gmail" class="size-4 shrink-0"></span>

      <span
        aria-hidden="true"
        class="absolute -top-8 left-1/2 isolate -translate-x-1/2 translate-y-1 overflow-hidden rounded-lg px-2 py-0.75 whitespace-nowrap text-white opacity-0 transition-all duration-150 ease-out will-change-transform squircle group-hover:translate-y-0 group-hover:opacity-100 supports-squircle:rounded-full"
      >
        Email &middot; me@bradenroth.com

        <!-- Blurred SVG background -->
        <div
          class="pointer-events-none absolute inset-0 -z-10 flex items-center justify-center [clip-path:inset(0_round_0.5rem)]"
        >
          <span data-icon="gmail" class="w-[100%] opacity-50 blur-md dark:opacity-90"></span>
        </div>
      </span>
    </a>

    <a
      href="https://github.com/bradenr402"
      target="_blank"
      class="group relative flex items-center justify-center"
      aria-label="GitHub profile"
    >
      <span data-icon="github" class="size-4 shrink-0 dark:hidden"></span>
      <span data-icon="github-dark" class="size-4 shrink-0 not-dark:hidden"></span>

      <span
        aria-hidden="true"
        class="absolute -top-8 left-1/2 -translate-x-1/2 translate-y-1 rounded-lg bg-black px-2 py-0.75 whitespace-nowrap text-white opacity-0 transition-all duration-150 ease-out will-change-transform squircle group-hover:translate-y-0 group-hover:opacity-100 dark:bg-white dark:text-black supports-squircle:rounded-full"
      >
        GitHub &middot; bradenr402
      </span>
    </a>

    <a
      href="https://linkedin.com/in/braden-roth"
      target="_blank"
      class="group relative flex items-center justify-center"
      aria-label="LinkedIn profile"
    >
      <span data-icon="linkedin" class="size-4 shrink-0"></span>

      <span
        aria-hidden="true"
        class="absolute -top-8 left-1/2 -translate-x-1/2 translate-y-1 rounded-lg bg-[#0a66c2] px-2 py-0.75 whitespace-nowrap text-white opacity-0 transition-all duration-150 ease-out will-change-transform squircle group-hover:translate-y-0 group-hover:opacity-100 supports-squircle:rounded-full"
      >
        LinkedIn &middot; braden-roth
      </span>
    </a>

    <a
      href="https://x.com/BradenRoth02"
      target="_blank"
      class="group relative flex items-center justify-center"
      aria-label="X account"
    >
      <span data-icon="x" class="size-4 shrink-0"></span>

      <span
        aria-hidden="true"
        class="absolute -top-8 left-1/2 -translate-x-1/2 translate-y-1 rounded-lg bg-black px-2 py-0.75 whitespace-nowrap text-white opacity-0 transition-all duration-150 ease-out will-change-transform squircle group-hover:translate-y-0 group-hover:opacity-100 dark:bg-white dark:text-black supports-squircle:rounded-full"
      >
        𝕏 &middot; @BradenRoth02
      </span>
    </a>
  </div>

  <div
    class="relative flex items-center justify-center gap-1.5 text-sm text-stone-500/80 dark:text-stone-400/80"
  >
    <span>&copy;</span>
    <span id="footer-year">2026</span>
    <span>Braden Roth</span>
  </div>
  <p class="-translate-y-1 text-center text-xxs/none text-stone-300 dark:text-stone-600">
    Hi there! ;)
  </p>
</footer>
