<div
  class="pointer-events-none z-50 flex gap-2 fixed bottom-2 inset-x-0 justify-center"
>
  <a
    href="javascript:history.back()"
    aria-label="Back"
    class="group pointer-events-auto rounded-full border-[0.7px] border-stone-200 bg-white p-3 text-stone-400 shadow-stone-800/10 transition-[colors,scale] duration-100 not-in-data-[page^=blog]:hidden not-dark:shadow-md hover:text-stone-900 active:scale-97 dark:border-zinc-800 dark:bg-zinc-900 dark:text-zinc-500 dark:hover:text-white"
  >
    <span class="relative flex items-center justify-center">
      <span data-icon="arrow-left" class="-m-0.25 size-6.5"></span>
      <span
        aria-hidden="true"
        class="pointer-events-none absolute self-start justify-self-start rounded-lg bg-black px-2 py-0.75 text-white opacity-0 transition-all duration-100 ease-out squircle group-hover:opacity-100 -top-8 left-1/2 -translate-x-1/2 translate-y-1 group-hover:translate-y-0 dark:bg-white dark:text-black supports-squircle:rounded-full"
      >
        Back
      </span>
    </span>
  </a>

  <nav
    aria-label="Primary"
    class="pointer-events-auto flex items-center justify-center rounded-full border-[0.7px] border-stone-200 bg-white shadow-stone-800/10 not-dark:shadow-md px-3.5 py-3 *:px-3 *:first:pl-0 *:last:pr-0 dark:border-zinc-800 dark:bg-zinc-900"
  >
    <a
      href="/"
      aria-label="Home"
      class="group text-stone-400 transition-colors duration-100 hover:text-stone-900 in-data-[page=home]:text-stone-900 dark:text-zinc-500 dark:hover:text-white dark:in-data-[page=home]:text-white"
    >
      <span class="relative flex items-center justify-center">
        <span data-icon="home-filled" class="size-6"></span>
        <span
          aria-hidden="true"
          class="pointer-events-none absolute self-start justify-self-start rounded-lg bg-black px-2 py-0.75 text-white opacity-0 transition-all duration-100 ease-out squircle group-hover:opacity-100 -top-8 left-1/2 -translate-x-1/2 translate-y-1 group-hover:translate-y-0 dark:bg-white dark:text-black supports-squircle:rounded-full"
        >
          Home
        </span>
      </span>
    </a>

    <a
      href="/blog"
      aria-label="Blog"
      class="group text-stone-400 transition-colors duration-100 hover:text-stone-900 in-data-[page^=blog]:text-stone-900 dark:text-zinc-500 dark:hover:text-white dark:in-data-[page^=blog]:text-white"
    >
      <span class="relative flex items-center justify-center">
        <span data-icon="blog-filled" class="size-6"></span>
        <span
          aria-hidden="true"
          class="pointer-events-none absolute self-start justify-self-start rounded-lg bg-black px-2 py-0.75 text-white opacity-0 transition-all duration-100 ease-out squircle group-hover:opacity-100 -top-8 left-1/2 -translate-x-1/2 translate-y-1 group-hover:translate-y-0 dark:bg-white dark:text-black supports-squircle:rounded-full"
        >
          Blog
        </span>
      </span>
    </a>
  </nav>
</div>
