<footer class="snap-end bg-stone-200/60">
  <div
    class="mx-auto max-w-7xl px-6 pb-44 pt-12 md:flex md:items-center md:justify-between md:pb-12 lg:px-8"
  >
    <div class="flex justify-center space-x-6 md:order-2">
      <a
        href="https://github.com/bradenr402"
        target="_blank"
        class="text-stone-400 transition-all duration-300 hover:text-primary-500"
      >
        <span class="sr-only">GitHub</span>
        <span data-icon="github" class="size-6"></span>
      </a>
      <a
        href="https://www.linkedin.com/in/braden-roth/"
        target="_blank"
        class="text-stone-400 transition-all duration-300 hover:text-primary-500"
      >
        <span class="sr-only">LinkedIn</span>
        <span data-icon="linkedin" class="size-6"></span>
      </a>
      <a
        href="mailto:me@bradenroth.com"
        target="_blank"
        class="text-stone-400 transition-all duration-300 hover:text-primary-500"
      >
        <span class="sr-only">Email</span>
        <span data-icon="email" class="size-6"></span>
      </a>
      <div class="border-l border-stone-300"></div>
      <a
        href="https://github.com/bradenr402/portfolio"
        class="text-stone-400 transition-all duration-300 text-xs hover:text-primary-500"
        >View source</a
      >
    </div>
    <div
      class="mt-8 flex items-end justify-center gap-2 text-stone-500 text-xs md:order-1 md:mt-0 md:justify-start"
    >
      <span>&copy;&nbsp;</span> <span id="footer-year"></span> <span>Braden Roth</span>
    </div>
  </div>
</footer>
