<nav
  class="fixed top-0 z-50 w-full snap-start bg-gradient-to-b from-stone-100 via-stone-100/75 to-transparent"
>
  <div class="mx-auto w-full max-w-7xl px-4">
    <div class="relative flex h-20 w-full items-center justify-between">
      <!-- Logo -->
      <div class="group relative whitespace-nowrap">
        <a
          href="index.html"
          class="group-hover:active-scale-95 peer relative px-3 py-1.5 font-extrabold text-primary-500 transition-all duration-300 text-2xl group-hover:scale-110"
        >
          Braden Roth
        </a>
        <span
          class="absolute inset-0 -z-10 scale-0 rounded-lg bg-primary-500/10 opacity-0 blur transition-all duration-300 group-hover:scale-100 group-hover:opacity-100 peer-active:scale-90"
        ></span>
      </div>

      <!-- Navigation Links -->
      <div
        id="mobile-menu"
        class="mobile-menu-hidden peer fixed inset-x-0 bottom-0 z-40 flex justify-end transition-all duration-300 ease-in-out max-sm:h-screen max-sm:w-screen max-sm:flex-col max-sm:bg-gradient-to-b max-sm:from-transparent max-sm:via-white/50 max-sm:to-white/75 max-sm:pb-20 max-sm:backdrop-blur-md sm:static sm:items-center sm:space-x-8 sm:bg-transparent"
      >
        <div class="flex flex-col space-y-2 p-4 sm:ml-auto sm:flex-row sm:space-y-0 sm:p-0">
          <div class="group relative mx-auto grid place-items-center">
            <a href="index.html" class="nav-link-text peer">About</a>
            <span class="nav-link-bg"></span>
          </div>
          <div class="group relative mx-auto grid place-items-center">
            <a href="projects.html" class="nav-link-text peer">Projects</a>
            <span class="nav-link-bg"></span>
          </div>
          <div class="group relative mx-auto grid place-items-center">
            <a href="skills.html" class="nav-link-text peer">Skills</a>
            <span class="nav-link-bg"></span>
          </div>
          <div class="group relative mx-auto grid place-items-center">
            <a href="contact.html" class="nav-link-text peer">Contact</a>
            <span class="nav-link-bg"></span>
          </div>
        </div>
      </div>

      <!-- Menu Button -->
      <button
        class="fixed bottom-6 left-1/2 z-50 -translate-x-1/2 rounded-full bg-primary-500/10 px-5 py-2 font-semibold text-primary-500 backdrop-blur transition-all duration-300 ease-in-out focus:outline-none peer-[:not(.mobile-menu-hidden)]:scale-150 peer-[.mobile-menu-hidden]:*:-rotate-45 sm:hidden"
        id="mobile-menu-button"
        aria-label="Toggle navigation"
      >
        <div data-icon="mobile-menu" class="size-5 transition-all duration-300 ease-in-out"></div>
      </button>
    </div>
  </div>
</nav>
