@layer base {
  @font-face {
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/calibre-regular.woff2') format('woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Calibre';
    font-style: italic;
    font-weight: 400;
    src: url('./fonts/calibre-regular-italic.woff2') format('woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/calibre-semibold.woff2') format('woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Calibre';
    font-style: italic;
    font-weight: 600;
    src: url('./fonts/calibre-semibold-italic.woff2') format('woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/calibre-bold.woff2') format('woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Monaspace Neon';
    font-style: normal;
    font-weight: 200 800;
    src: url('./fonts/Monaspace%20Neon%20Var.woff2') format('woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 200 900;
    src: url('./fonts/CrimsonPro-Italic-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 200 900;
    src: url('./fonts/CrimsonPro-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
  }
}
