@theme {
  --left-col: 4rem;
  --gutter: var(--hairline);
  --max-width: calc(48rem + var(--left-col) + var(--gutter));
  --main-gap: --spacing(6);
  --horizontal-padding: --spacing(4);

  --font-sans: Calibre, sans-serif;
  --font-mono: 'Monaspace Neon', monospace;
  --font-serif: 'Crimson Pro', serif;
  --font-handwriting: 'Gloria Hallelujah', cursive;

  --color-primary-50: var(--color-sky-50);
  --color-primary-100: var(--color-sky-100);
  --color-primary-200: var(--color-sky-200);
  --color-primary-300: var(--color-sky-300);
  --color-primary-400: var(--color-sky-400);
  --color-primary-500: var(--color-sky-500);
  --color-primary-600: var(--color-sky-600);
  --color-primary-700: var(--color-sky-700);
  --color-primary-800: var(--color-sky-800);
  --color-primary-900: var(--color-sky-900);
  --color-primary-950: var(--color-sky-950);

  --color-zinc-850: oklch(24% 0.006 286.033);

  /* Colors */
  --color-text: light-dark(var(--color-stone-950), var(--color-zinc-100));
  --color-bg: light-dark(white, var(--color-zinc-950));
  --color-border: light-dark(var(--color-stone-300), var(--color-zinc-800));
  --color-border-light: light-dark(var(--color-stone-200), var(--color-zinc-900));

  --color-accent: light-dark(var(--color-primary-500), var(--color-primary-400));
  --color-soft: light-dark(var(--color-stone-600), var(--color-zinc-300));
  --color-muted: light-dark(var(--color-stone-500), var(--color-zinc-400));
  --color-faint: light-dark(var(--color-stone-400), var(--color-zinc-500));

  --selection-color: oklch(from var(--color-primary-500) l c h / 5%);

  /* Surfaces & UI */
  --color-surface: light-dark(var(--color-stone-50), var(--color-zinc-900));
  --color-surface-alt: light-dark(var(--color-stone-100), var(--color-zinc-800));
  --color-surface-hover: light-dark(var(--color-stone-200), var(--color-zinc-700));

  --breakpoint-xs: 30rem;
  --text-xxs: 0.625rem;

  --radius-5xl: 2.5rem;

  --spring: linear(
    0,
    0.009,
    0.035 2.1%,
    0.141,
    0.281 6.7%,
    0.723 12.9%,
    0.938 16.7%,
    1.017,
    1.077,
    1.121,
    1.149 24.3%,
    1.159,
    1.163,
    1.161,
    1.154 29.9%,
    1.129 32.8%,
    1.051 39.6%,
    1.017 43.1%,
    0.991,
    0.977 51%,
    0.974 53.8%,
    0.975 57.1%,
    0.997 69.8%,
    1.003 76.9%,
    1.004 83.8%,
    1
  );

  --ease-spring: 500ms var(--spring);

  --gentler-spring: linear(
    0,
    0.0039 0.87%,
    0.0199,
    0.0459 3.19%,
    0.0892 4.65%,
    0.1865 7.26%,
    0.5218 15.39%,
    0.6249,
    0.7132,
    0.7864,
    0.8453 27%,
    0.8955,
    0.9328,
    0.9596 36.58%,
    0.9706 38.32%,
    0.9808 40.35%,
    0.9946 44.42%,
    1.003 49.35%,
    1.0056 53.13%,
    1.0063 58.06%,
    1.0014 80.71%,
    1.0001 99.87%
  );

  --ease-gentler-spring: 1.2s var(--gentler-spring);

  --hairline: 1px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  @theme {
    --hairline: 0.5px;
  }
}
